body{
    background-color:#DDE5FF; 
    margin: 0.0001px;
    padding: 0.0001px;
}
.header{
    width: 100%;
    height: 90px;
}
.navbar{
    display: inline-block;
    height: 30px;
    width: 667px;
    position: relative;
    top: 40px;
    left: 386px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    
}

.nav-links {
    display: flex;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    gap:69px;

}
.nav-links a{
    text-decoration: none;
    color: black;
    size: 18px;

}
.socialIcons{
    height: 30px;
    width: 128px;
    position: relative;
    left: 1400px;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -16px;

}
/* footer */
.progressia-llc- {
  	position: absolute;
  	top: 453.08px;
  	left: 56px;
  	line-height: 12px;
  	font-weight: 500;
}
.legal-policies {
  	position: relative;
  	line-height: 20.16px;
  	font-weight: 900;
}
.terms-conditions {
  	position: relative;
  	line-height: 19.68px;
  	font-weight: 500;
}
.list-px-0 {
  	width: 192px;
  	height: 146.4px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 33.1px 0px 0px;
  	box-sizing: border-box;
  	gap: 12px;
  	mix-blend-mode: normal;
  	font-size: 12.2px;
}
.div-footer-links {
  	position: absolute;
  	top: 157px;
  	left: 206px;
  	width: 192px;
  	height: 182.5px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 16.1px;
  	mix-blend-mode: normal;
}
.list-px-01 {
  	width: 192px;
  	height: 114.7px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 85.7px 0px 0px;
  	box-sizing: border-box;
  	gap: 12px;
  	mix-blend-mode: normal;
  	font-size: 12.2px;
}
.div-footer-links1 {
  	position: absolute;
  	top: 0px;
  	left: 412px;
  	width: 192px;
  	height: 150.9px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 16.1px;
  	mix-blend-mode: normal;
}
.list-px-02 {
  	width: 192px;
  	height: 146.4px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 78.3px 0px 0px;
  	box-sizing: border-box;
  	gap: 12px;
  	mix-blend-mode: normal;
  	font-size: 12.2px;
}
.div-footer-links2 {
  	position: absolute;
  	top: 0px;
  	left: 206px;
  	width: 192px;
  	height: 182.5px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 16.1px;
  	mix-blend-mode: normal;
}
.list-px-03 {
  	width: 192px;
  	height: 178px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 76.9px 0px 0px;
  	box-sizing: border-box;
  	gap: 12px;
  	mix-blend-mode: normal;
  	font-size: 12.2px;
}
.div-footer-links3 {
  	position: absolute;
  	top: 120.16px;
  	left: 0px;
  	width: 192px;
  	height: 214.2px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 16.1px;
  	mix-blend-mode: normal;
}
.helpgmailcom {
  	position: absolute;
  	top: -0.18px;
  	left: 28px;
  	line-height: 19.68px;
  	font-weight: 500;
}
.icon {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 20px;
  	height: 20px;
  	overflow: hidden;
  	object-fit: cover;
  	mix-blend-mode: normal;
}
.link-d-flex {
  	width: 192px;
  	position: relative;
  	height: 20px;
  	mix-blend-mode: normal;
}
.list-px-04 {
  	width: 192px;
  	height: 52px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 12px;
  	mix-blend-mode: normal;
  	font-size: 12.2px;
}
.div-footer-links4 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 192px;
  	height: 88.2px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 16.1px;
  	mix-blend-mode: normal;
}
.footer-column2 {
  	position: absolute;
  	top: 50px;
  	left: 741.5px;
  	width: 604px;
  	height: 397.6px;
  	mix-blend-mode: normal;
  	font-size: 14.3px;
}
.list-unstyled {
  	position: absolute;
  	top: 238.94px;
  	left: 0px;
  	width: 466px;
  	height: 27px;
  	mix-blend-mode: normal;
}
.your-email {
  	position: absolute;
  	top: 19px;
  	left: 16px;
  	line-height: 14px;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	width: 466px;
    height: 54px;
}
.input-input-field {
  	width: 300px;
  	position: relative;
  	border-radius: 4px;
  	background-color: #fff;
  	height: 52px;
  	mix-blend-mode: normal;
}
.form-newsletterform {
  	position: absolute;
  	top: 136.94px;
  	left: 0px;
  	width: 466px;
  	height: 54px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 48.7px 0px 0px;
  	box-sizing: border-box;
  	mix-blend-mode: normal;
}
.of-builders {
  	color: #fff;
}
.join-our-community-container {
  	position: relative;
  	line-height: 30.24px;
  	font-weight: 600;
  	color: #fed103;
}
.hackers-and-thinkers {
  	position: relative;
  	line-height: 30.24px;
  	font-weight: 600;
}
.h4-text-white {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 466px;
  	height: 120.9px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	mix-blend-mode: normal;
  	font-size: 25.3px;
  	color: #fff;
}
.footer-column1 {
  	position: absolute;
  	top: 56px;
  	left: 56px;
  	width: 466px;
  	height: 397.6px;
  	mix-blend-mode: normal;
  	font-size: 13.1px;
  	color: rgba(0, 0, 0, 0.5);
}
.main-footer {
  	width: 100%;
  	position: absolute;
	top: 385px;
  	height: 497.6px;
  	mix-blend-mode: normal;
  	text-align: left;
  	font-size: 12.2px;
  	color: #fff;
  	font-family: Inter;
    background-color: #00416c;
}
.footer{
	height: 870px;
	position: relative;
	top: 100px;
}